table
{
   border-collapse: collapse; /* fusionner entre les cellules */
   width: 100%;
   border: "1";
   background-color: seashell;
   
}
td /* fussionner les cellules */
{
    border: 1.5px solid black;
    font-weight: bold;    
}
.titre 
{
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
.titre2
{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif ;
    
}
body
{
    background-color: rgb(6,87 , 83);
}
a:hover
{
    color: rgb(239, 247, 239);

}

td:hover
{
    background-color: rgb(10, 90, 85);
    font-size: small;
    color: white;
    
}
h1
{
    color: white;
}
img:hover
{
width: 50px;
transform : scale(2);
}
-class : :nth-child
{
background-color:read-write;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }