body
{
background-color: rgb(169, 238, 187);}
 h1
 {
     font-style: italic;
     font-weight: 2em;
 }
 p
 {
     text-align: justify;
 }
 a:hover
 {
     color: chartreuse;
 }
 h1
 {
     text-align: start;
     font-style: italic;
     font-size: 1.2m;
     text-decoration: underline;
 }
